<form [formGroup]="userForm">
  <section class="form-row">
    <mat-form-field>
      <mat-label> Voornaam </mat-label>
      <input matInput formControlName="firstname">
    </mat-form-field>
  <mat-form-field>
      <mat-label> Achternaam </mat-label>
      <input matInput formControlName="lastname">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Geboorte datum</mat-label>
      <input matInput formControlName="dateOfBirth"  [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </section>
  <section class="form-row">
    <mat-form-field>
      <mat-label> Email </mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
  </section>

  <section class="form-row">
    <mat-form-field>
      <mat-label> Straat </mat-label>
      <input matInput formControlName="street">
    </mat-form-field>
    <mat-form-field>
      <mat-label> Huisnummer </mat-label>
      <input type="number" matInput formControlName="housenumber">
    </mat-form-field>
    <mat-form-field>
      <mat-label> Huisnummer toevoeging </mat-label>
      <input matInput formControlName="housenumberAddition">
    </mat-form-field>
  </section>
  <section class="form-row">
  <mat-form-field>
    <mat-label> Postcode </mat-label>
    <input matInput formControlName="zip">
  </mat-form-field>
    <mat-form-field>
      <mat-label> Stad </mat-label>
      <input matInput formControlName="city">
    </mat-form-field>
  </section>
  <section class="form-row">
    <mat-form-field>
      <mat-label> Gewenste pensioen leeftijd </mat-label>
      <input type="number" matInput formControlName="preferredRetireAge">
    </mat-form-field>
    <mat-form-field>
      <mat-label> Jaarlijkse storting in euro's </mat-label>
      <input type="number" matInput formControlName="yearlyDeposit">
    </mat-form-field>
  </section>
</form>
<button mat-raised-button color="primary" (click)="submitForm()" ><mat-icon>save</mat-icon>Save</button>
